[submodule "External/cinder"]
	path = External/cinder
	url = https://github.com/cinder/Cinder.git
[submodule "External/TBB"]
	path = External/TBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "External/ImGuiFileDialog"]
	path = External/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "External/entityx"]
	path = External/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "External/RTTR"]
	path = External/RTTR
	url = https://github.com/rttrorg/rttr.git
